.no-tile-selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile-viewer-main-content {
    display: flex;
    flex-direction: column;
}

.tile-canvas-wrapper {
    display: flex;
    justify-content: center;
    aspect-ratio: 1;
    width: 100%;
    background-color: #171717;
}

.tile-canvas {
    object-fit: contain;
}

.tile-info {
    padding: 1em;
}
