:root {
    --header-height: 64px;
}

img {
    image-rendering: pixelated !important;
}

.header-wrapper {
    height: var(--header-height);
}

.header {
    position: fixed;
    display: flex;
    height: var(--header-height);
    z-index: 999;

    top: 0;
    left: 0;
    right: 0;

    box-shadow: 0 0 0 1px #333;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(5px);
}

.header-img {
    margin-right: 16px;
}

#main-section {
    min-height: calc(100vh - var(--header-height));
}