:root {
    --header-height: 64px;
}

body.animated-cursor {
    cursor: url('cursor/0.png') 11 11, auto;
    animation: cursor 300ms infinite;
}

@keyframes cursor {
    0% { cursor: url('cursor/0.png') 11 11, auto; }
    12.5% { cursor: url('cursor/1.png') 11 11, auto; }
    25% { cursor: url('cursor/2.png') 11 11, auto; }
    37.5% { cursor: url('cursor/3.png') 11 11, auto; }
    50% { cursor: url('cursor/4.png') 11 11, auto; }
    62.5% { cursor: url('cursor/5.png') 11 11, auto; }
    75% { cursor: url('cursor/6.png') 11 11, auto; }
    100% { cursor: url('cursor/7.png') 11 11, auto; }
}

img, canvas {
    image-rendering: pixelated !important;
}

.header-wrapper {
    height: var(--header-height);
}

.header {
    position: fixed;
    display: flex;
    height: var(--header-height);
    z-index: 999;

    top: 0;
    left: 0;
    right: 0;

    box-shadow: 0 0 0 1px #333;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(5px);
}

.header-link {
    display: inline-flex;
    color: white;
    transition: color 100ms;
}

.header-link:hover {
    color: grey;
}

.header-img {
    margin-right: 16px;
}

.cursor-settings {
    position: absolute;
    bottom: 24px;
    right: 24px;

    display: flex;
}

.cursor-settings .cursor-toggle {
    height: auto;
    margin-top: 1px;
}

.cursor-settings .cursor-image img {
    vertical-align: bottom;
}

.bw {
    filter: saturate(0);
    transition: filter 300ms;
}

#main-section {
    min-height: calc(100vh - var(--header-height));
}